<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 ">

			<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
       	<div formGroupName="userdata">
         <div class="form-group">
					<label for="username" >Username: </label>
					<input
              type="Text" 
              id="username"
              formControlName="username"
              class="form-control"
          >
				</div>
        <span *ngIf=" !signUpForm.get('userdata.username').valid && signUpForm.get('userdata.username').touched && signUpForm.get('userdata.username').errors!=null" class="help-block"> 
          <span *ngIf="signUpForm.get('userdata.username').errors['required']">Username is mandatory!</span>
          <span *ngIf="signUpForm.get('userdata.username').errors['forbiddenUser']">Restricted username!</span>
        </span>

        <!-- && signUpForm.get('userdata.username').errors!=null -->

				<div class="form-group">
					<label for="email" >Email: </label>
					<input 
              type="email" 
              id="email" 
              formControlName="email"  
              class="form-control">
				</div>
        <span *ngIf=" !signUpForm.get('userdata.email').valid && signUpForm.get('userdata.email').touched && signUpForm.get('userdata.email').errors!=null" class="help-block">
            <span *ngIf="signUpForm.get('userdata.email').errors['required']">Email is mandatory!</span>
            <span *ngIf="signUpForm.get('userdata.email').errors['email']">Invalid email id!</span>
            <span *ngIf="signUpForm.get('userdata.email').errors['forbiddenEmail']">Restricted email!</span>
         </span>
      	</div>
    		<!--&& signUpForm.get('userdata.email').errors!=null -->
        <div class="radio" *ngFor = "let gendr of genders">
         <label> <input 
            type="radio"
            formControlName="gender"
            [value]="gendr"
            >{{gendr}}</label>
        </div>

        <div class="form-group">
            <button class="btn btn-normal" type="button" (click)="onAddHobbie()">Add Hobbie</button>
        </div>

        <div 
          class="form-group"
          formArrayName="hobbies"
          *ngFor="let hobbie of getControls(); let i = index">

          <input type="text" class="form-control" [formControlName]="i" >

          <span *ngIf="!getControls()[i].valid && getControls()[i].touched"> 
            <span *ngIf="getControls()[i].errors['forbiddenHobbie']" class="help-block">Restricted hobbie!</span>
            <span *ngIf="getControls()[i].errors['required']" class="help-block">Hobbie is required</span>
          </span>
        </div>

        <span *ngIf="!signUpForm.valid && signUpForm.touched" class="help-block">Please provide valid data!</span>
     		<button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">Submit</button>
  	
    	</form>
		</div>
	</div>
</div>