<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 ">

			<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
       	<div formGroupName="userdata">
         <div class="form-group">
					<label for="username" >Username: </label>
					<input
              type="Text" 
              id="username"
              formControlName="username"
              class="form-control"
          >
				</div>
        <span *ngIf=" !signUpForm.get('userdata.username').valid && signUpForm.get('userdata.username').touched" class="help-block"> Please provide valid username!</span>

				<div class="form-group">
					<label for="email" >Email: </label>
					<input 
              type="email" 
              id="email" 
              formControlName="email"  
              class="form-control">
				</div>
        <span *ngIf=" !signUpForm.get('userdata.email').valid && signUpForm.get('userdata.email').touched" class="help-block"> Please provide valid email!</span>
      	</div>
    		
        <div class="radio" *ngFor = "let gendr of genders">
         <label> <input 
            type="radio"
            formControlName="gender"
            [value]="gendr"
            >{{gendr}}</label>
        </div>

        <div class="form-group">
            <button class="btn btn-normal" type="button" (click)="onAddHobbie()">Add Hobbie</button>
        </div>

        <div 
          class="form-group"
          formArrayName="hobbies"
          *ngFor="let hobbie of getControls(); let i = index"
        >
          <input type="text" class="form-control" [formControlName]="i" >
        </div>
      
        <span *ngIf="!signUpForm.valid && signUpForm.touched" class="help-block">Please provide valid data!</span>
     
     		<button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">Submit</button>
  	
    	</form>
		</div>
	</div>
</div>